@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url("./css/layout/normalize.css");
@import url("./css/layout/base.css");

@import url("./css/block/welcome.css");
@import url("./css/block/hero.css");
@import url("./css/block/header.css");
@import url("./css/block/logo.css");
@import url("./css/block/menu.css");
@import url("./css/block/contacts.css");
@import url("./css/block/dropdown.css");
@import url("./css/block/top-line.css");
@import url("./css/block/reviews.css");
@import url("./css/block/avatar.css");
@import url("./css/block/tag.css");
@import url("./css/block/separator.css");
@import url("./css/block/form.css");
@import url("./css/block/controls.css");
@import url("./css/block/page-title.css");
@import url("./css/block/breadcrumbs.css");
@import url("./css/block/button.css");
@import url("./css/block/page-content.css");
@import url("./css/block/offers.css");
@import url("./css/block/offer.css");
@import url("./css/block/single-news.css");
@import url("./css/block/news.css");
@import url("./css/block/pagination.css");
@import url("./css/block/about.css");
@import url("./css/block/inner-section.css");
@import url("./css/block/footer.css");
@import url("./css/block/socials.css");
@import url("./css/block/service.css");
@import url("./css/block/services.css");
@import url("./css/block/partners.css");
