body {
  font-family: "Open Sans",  Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
  background: #17191C;
  color: #fff;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

}
a {
  color: inherit;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
p {
  margin-top: 0;
}
strong {
  color: #000;
}
* {
  box-sizing: border-box;
}
.wrapper {
  overflow: hidden;
  min-width: 1150px;
}
.main-page-wrapper {
  background: url(./../img/hero.jpg) center top no-repeat, url(./../img/bottom-pic.jpg) center bottom 302px no-repeat;
}
.container  {
  margin: 0 auto;
  width: 1142px;
  
}
.header {
  height: 80px;
  position: relative;
margin-bottom: 142px;
}
.logo {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
}
.logo__footer {
  top: 41px;
}
.menu {
  position: absolute;
  top: 38px;
  left: 440px;
}
.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-size: 14px;
  text-decoration:  none;
}
.menu__link:hover {
  color: #FF3D00;
}
.menu__item--active {
  color: #FF3D00;
}
.menu--footer {
  top: 57px;
  left: 328px;
}
.contacts {
  position: absolute;
  top: 27px;
  right: 0;
  font-style: normal;
  text-align: right;
}

.contacts__call {
  font-size: 11px;
  color: #9A9A9A;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}
.contacts__workhours {
  font-size: 13px;
  text-decoration: underline;
  color: #FF3D00;
}
.contacts--footer {
  top: 46px;
}
.hero {
  margin-bottom: 230px;
}

.hero__content {
  text-align: center;
}
.hero__title {
  font-size: 72px;
  font-weight: bold;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 15px;
}


.hero__text {
  font-size: 18px;
  margin-bottom: 40px;
}
.button {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #FF5500;
  border-radius: 35px;
  padding: 18px 55px;
  display: inline-block;
}

.button:hover {
  background: #FF3D00;
}

.button--active:hover {
  background: #fff;
  color: #FF5500;
  border: 2px solid #FF5500;
  padding: 16px 53px;
}
.button--main {
  padding: 18px 40px;
}
.button--type--secondary {
  background: #fff;
  color: #FF5500;
  border: 2px solid #FF5500;
  padding: 16px 53px;
}

.button--type--secondary:hover {
  color: #fff;
  background: #FF5500;
}


.offers {
  margin-bottom: 180px;
}


.offers__header {
  min-height: 146px;

}
.offers__item {
  min-height: 476px;
  width: 362px;
  display: inline-block;
  margin-right: 23px;
  vertical-align: top;
}

.offers__item:last-child {
  margin-right: 0;
}

.offer {
  background: #fff;
  color: #666;
  border-radius: 5px;
  padding: 37px 33px 54px 22px;
}
.offer--type--secondary {
  border: 5px solid #CCC;
  padding: 33px 28px 48px 16px;
}
.offer__header {
  margin-bottom: 30px;
  height: 81px;
  position: relative;
}
.offer__picture {
  position: absolute; 
  bottom: 0;
  left: 6px;
}

.offer__subtitle {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin-bottom: 17px;
}

.offer__conditions {
  margin-bottom: 22px;
  position: relative;
}

.offer__conditions-item {
  display: inline-block;
  vertical-align: top;
}
.offer__conditions-item:last-child {
  position: absolute;
  right: 0;
}

.conditions-offers {
  width: 124px;
}

.offer__text {
  font-size: 14px;
  margin-bottom: 28px;
  line-height: 1.6;
}


.news{
  margin-bottom: 150px;
}
.news__main-title {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.news__list {
  margin-bottom: 51px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 20px;
  overflow: hidden
}
.news__item:last-child {
  margin-right: 0;
}

.news__pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .4;
}
.news__tittle {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 51px;
}


.news__desc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 30px;
  min-height: 140px;
}
.news__date {
  font-size: 14px;
  margin-bottom: 12px;
  display: block;
}
.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 7px;
}
.news__text {
  margin-bottom: 4px;
}
.pagination {
  text-align: center;
}
.pagination__info,.pagination__list{
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  padding-right: 5px;
}
.pagination__item {
  display:inline-block;
  vertical-align: middle;
  line-height: 32px;
  margin-right: -2px;
}
.pagination__item:last-child {
  margin-right: 0;
}
.pagination__item--active .pagination__link {
  background: #FF5500;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  line-height: 32px;
}
.pagination__link:hover {
  background: #FF5500;
}
.about {
  margin-bottom: 57px;
}
.about__content::before  {
  content: "";
  width: 490px;
  height: 505px;
  background: url(./../img/cameraman.jpg) center center / cover no-repeat;
}

.about__content::before,
.about__desc {
  display: inline-block;
  vertical-align: top;
}
.about__desc {
  background: #fff;
  padding: 70px 203px 66px 81px;
  border-radius: 5px;
  width: 785px;
  margin-left: -139px;
  margin-top: 90px;
}
.about__desc-title {
  color: #000000;
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 37px;
}
.about__desc-text {
  color: #000000;
  margin-bottom: 42px;
  line-height: 1.7;
}
.about__desc-text p {
  margin-bottom: 20px;
}
.about__desc-text p:last-child {
  margin-bottom: 0;
}



.footer__conteiner {
  height: 147px;
  position: relative;
  padding-top: 30px;
  border-top: 1px solid grey;
}
.logo__footer {
  position: absolute;
  width: 52%
}
.menu__footer {
  position: absolute;
  left: 330px;
  top: 50px;
}
.socials__footer {
  position: absolute;
  left: 700px;
  top: 50px;
}
.contacts__footer {
  position: absolute;
  top: 20px;
  right: 0px;
}
.socials__item {
  display: inline-block;
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0px;
}
.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}
.socials__item--icon--telegram .socials__link {
  background-image: url(./../img/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url(./../img/telegram-h.png);
}

.socials__item--icon--vk .socials__link {
  background-image: url(./../img/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url(./../img/vk-h.png);
}

.socials__item--icon--fb .socials__link {
  background-image: url(./../img/facebook.png);
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url(./../img/facebook-h.png);
}

.socials__item--icon--insta .socials__link {
  background-image: url(./../img/instagram.png);
}

.socials__item--icon--insta .socials__link:hover {
  background-image: url(./../img/instagram-h.png);
}
.contacts__footer {
  top: 42px;
}
.contacts__call{
  font-style: normal;
  font-size: 11px;
  color: #9A9A9A;
  text-align: right;
  margin-bottom: 4px;

}
.contacts__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 35px;
  color: #FFFFFF;
}
