.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-style: normal;
  text-align: right;
}

.contacts__call {
  font-size: 11px;
  color: #9A9A9A;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  font-style: normal;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration-line: underline;
  color: #FF3D00;
  margin-top: -8px;
}

.contacts__footer {
  display: flex;
  flex-direction: column;
}
.contacts__call{
  font-style: normal;
  font-size: 11px;
  color: #9A9A9A;
  text-align: right;
  line-height: 23px;

}




