.form__row {
  display: flex;
  margin-bottom: 30px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 4px;
  border: none;
  background: #fff;
  padding: 22px 30px;
  font-size: 18px;
  color: #1A1B1E;
  border: 1px solid #fff;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input::placeholder {
  color: #666;
}

.form__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.form__input--textarea {
  height: 233px;
  padding-top: 29px;
}

.form__controls {
  display: flex;
  margin-bottom: 22px;
  margin-top: -7px;
}

.form__controls-title {
  width: 38%;
  padding-left: 0px;
  font-size: 18px;
  padding-top: 11px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
}

.form__button {
  margin-right: 20px;
}

.form__button:last-child {
  margin-right: 0px;
}