.socials {
  display: flex;
  margin-right: 74px;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0px;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
  background-image: url(./../../img/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url(./img/telegram-h.png);
}

.socials__item--icon--vk .socials__link {
  background-image: url(./../img/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url(/img/vk-h.png);
}

.socials__item--icon--fb .socials__link {
  background-image: url(/img/facebook.png);
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url(/img/facebook-h.png);
}

.socials__item--icon--insta .socials__link {
  background-image: url(/img/instagram.png);
}

.socials__item--icon--insta .socials__link:hover {
  background-image: url(/img/instagram-h.png);
}
