.top-line {
  min-height: 415px;
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
  margin-bottom: 95px;
  background: #17191C url(/img/top-line.jpg) center top no-repeat;
}

.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}